.child-testing img {
    width: 50%;
    display: none;

}
.main-testing {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* padding: 0 3%; */
    background-color: rgba(85, 20, 20, 0.034);
    font-family: 'Montserrat', sans-serif
}
label {
    display: block;
    padding: 5% 0 0 0;
}
select {
    width: 50%;
}
hr {
    margin: 5% 10%;
    height: 3vh;
    background-color: rgb(0, 93, 105);
}
header .nav-bars, .quick-info {
    display: none;
}
header .logo {
    padding: 5% 0 0 0;
}

.section-one p {
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.589);
    padding: 10% 3% 10% 3%;

}
.section-one h1 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 40px;
    padding: 0 3%;
}
.section-one button {
    margin: 10% 3% 0 3%;
    padding: 3% 8%;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;

}
.btn-one {
    background-color: rgb(0, 93, 105);
    border: 2px solid rgb(0, 93, 105);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 30px 2px rgba(0, 93, 105, 0.438);

}
.btn-one:hover {
    background-color: white;
    transition-property: background-color;
    transition: 1s;
    color: rgb(109, 108, 108);
}
.btn-two:hover {
    background-color: rgb(0, 93, 105);
    transition-property: background-color;
    transition: 1s;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 30px 2px rgba(0, 93, 105, 0.438);
}
.btn-two {
    background-color: transparent;
    border: 2px solid rgb(0, 93, 105);
    color: rgb(109, 108, 108);

}
.main-img img {
    display: none;
}


aside {
    /* height: 100vh; */
    margin-top: 20%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 800px;
    height: 500px;
    /* border-radius: 10px; */
    overflow: hidden;
}
.slides {
  width: 500%; 
  height: 500px; 
  display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img {
    width: 100%;
    height: 400px;
}
/* CSS FOR MANUAL SLIDE NAVIGATION */

/* .navigation-manual {
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;
} */
.manual-btn {
    border: 2px solid #40D3DC;
    /* padding: 5px; */
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 10px;
}
.manual-btn:hover {
    background: red;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}#radio3:checked ~ .first {
    margin-left: -40%;
}#radio4:checked ~ .first {
    margin-left: -60%;
}

/* CSS FOR AUTOMATIC NAVIGATION */
.navigation-auto {
    position: absolute;
    display: none;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div {
    border: 2px solid rgb(19, 0, 87);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 10px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: rgb(0, 119, 128);
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background:rgb(0, 119, 128) ;
}#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: rgb(0, 119, 128);
}#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: rgb(0, 119, 128);
}


/* SECTION TWO BEGINS */
.section-two {
    /* margin-top: 15%; */
    margin: 0 5%;
    background-color: white;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.055);
}
.section-two form {
    padding: 10% 8%;
}
.section-two [type = datetime-local] {
    border: 2px solid rgb(0, 93, 105);
    width: 100%;
    border-radius: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5% 0;
    background-color: transparent;
}

.section-two [type = submit] {
    background-color: rgb(0, 93, 105);
    border: 2px solid rgb(0, 93, 105);
    color: rgb(255, 255, 255);
    padding: 5% 10%;
    margin-top: 10%;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 30px 2px rgba(0, 93, 105, 0.438);
}
.section-two [type = submit]:hover {
    background-color: rgb(247, 126, 14);
    box-shadow: 0 0 30px 2px rgba(247, 127, 14, 0.61);
    border: 2px solid rgb(247, 126, 14);
    transition-property: background-color;
    transition: 1s;
}


#list {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 0.8rem;
    color: gray;
    background-color: transparent;
    padding: 5% 0;
}
label {
    font-weight: bold;
}

/* SECTION 3 (!) */
/* .section-three {
    display: none;
    justify-content: center;
    align-items: center;
}

.section-three .fa-arrow-down-long {
    text-align: center;
    margin: 30% 0;
    background-color: rgb(23, 90, 52);
    clip-path: circle();
    padding: 5%;
    color: white;

} */
/* .section-three::after {
    animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
} */
/* @keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1.4;
        background: rgb(185, 185, 185);
    }
    100% {
        transform: scale(1.4);
        opacity: 1.4;
        background: rgb(184, 184, 184);
    }
} */
/* .section-three::after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(23, 90, 52);
    clip-path: circle();
    z-index: -1;
    width: 100%;
} */

/* SECTION 4 */
.section-four {
    padding: 10% 0;
    text-align: center;
    margin: 0 3%;
}
.section-four h1 {
    padding: 5% 0;
    font-weight: 500;
}
.section-four .sect-four-p {
    color: rgba(0, 0, 0, 0.589);
    font-weight: 700;
}
.section-four span {
    color: rgb(0, 93, 105);
    font-weight: 700;
}
.sub-section-four {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 15% 0;
}
.sub-section-four div {
    background-color: white;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.055);
    padding: 35% 5%;
    font-size: 0.2rem;
    color: rgb(247, 126, 14);
    font-weight: bold;
}
.sub-section-four div i {
    font-size: 3rem;
    /* color: rgb(0, 93, 105); */
}
.sub-section-four div p {
    padding-top: 20%;
    font-size: 0.8rem;
}
.sub-section-four div:first-child {
    transform: translateY(-20%);
}
.sub-section-four div:nth-child(2) {
    transform: translateY(10%);
}
.sub-section-four div:nth-child(4) {
    transform: translateY(30%);
}
.sub-section-four div:last-child {
    transform: translateY(25%);
}
.sub-section-four div:hover {
    background-color: rgb(0, 93, 105);
    color: white;
    transition-property: background-color;
    transition-duration: 1s;
    transform: translateY(-2%);
    cursor: pointer;
}
/* SECTION 5 */
.section-five {
    text-align: center;
    padding: 20% 0;
    margin: 0 3%;
}
.section-five p {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.589);
}
.section-five h1 {
    padding: 3% 0 10% 0;
    font-weight: 500;
}
.btn-section-five {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}
.btn-section-five button {
    color: rgb(83, 83, 83);
    font-weight: bold;
    background-color: transparent;
    border: none;
}
.btn-section-five button:hover {
    color: rgb(247, 126, 14);
    border: 2px solid rgba(128, 128, 128, 0.486);
    transition-duration: 0.5s;
    padding: 2% 2%;
    font-weight: bold;
    cursor: pointer;
}

/* SECTION 6 */ 
.section-six {
    background-color: white;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.055);
    padding: 20% 10%;
    display: grid;
    margin: 0 3%;
    /* flex-direction: column; */
}
.section-six p {
    padding: 5% 0;
    color: rgba(0, 0, 0, 0.644);

}
.sub-section-six .CTA {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.747);
    letter-spacing: 1px;
}
.sub-section-six h1 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.sub-section-six .sub-text {
    color: rgb(85, 83, 83);

}
.sub-section-six button {
    padding: 4% 10%;
    font-weight: bold;
    background-color: rgb(247, 126, 14);
    border: 1px solid rgb(247, 126, 14);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.055);
    color: white;
    box-shadow: 0 0 30px 2px rgba(247, 127, 14, 0.61);
    cursor: pointer;
}
.sub-section-six button:hover {
    background-color: rgb(0, 93, 105);
    transition-property: background-color;
    transition: 1s;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 30px 2px rgba(0, 93, 105, 0.438);
    border: none;
}
.globe h1 {
    font-weight: 500;

}
.globe i {
font-size: 2rem;
 background-color: white;
box-shadow: 0 3px 7px rgba(0 0 0 / 10%);
padding: 10%;
border-radius: 50%;
cursor: pointer;
color: rgb(0, 93, 105);
margin: 10% 0;
}
.globe i:hover {
    background-color: rgb(0, 93, 105);
    color: white;
    transition-property: background-color;
    transition: 1s;
}

/* SECTION 7 */
.section-seven {
    /* background-color: white; */
    background: rgba(255, 255, 255, 0.877)
    url(images/nick-loggie-fRVPzBYcd5A-unsplash.jpg);
    background-position: center;
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.055);
    padding: 20% 3% ;
}
.section-seven h1 {
    padding: 5% 0;
    font-weight: 500;
}
.section-seven p {
    color: rgba(0, 0, 0, 0.644);
}
.takeatour {
    font-weight: bold;
}
.section-seven button {
    margin: 6% 0 0 0;
    padding: 4% 10%;
    font-weight: bold;
    transition: 2s;
    cursor: pointer;
    background-color: rgb(0, 93, 105);
    border: 2px solid rgb(0, 93, 105);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 30px 2px rgba(0, 93, 105, 0.438);
}
.section-seven button:hover {
    background-color: rgb(247, 126, 14);
    transition-property: background-color;
    transition: 1s;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 0 30px 2px rgba(247, 127, 14, 0.61);
}
.section-seven img {
    width: 100%;
    margin-top: 10%;
    height: 300px;
}

/* SECTION 8 */ 
.section-eight {
    padding: 30% 0;
    text-align: center;
    margin: 0 3%;
}

.section-eight h3 {
    font-size: 1.1rem;
    font-weight: 500;
}
article {
    font-size: 0.8rem;
    color: rgb(0, 93, 105);
    font-weight: bold;
    padding: 3% 0;
}
.section-eight h1 {
    padding: 5% 0;
    font-weight: 500;
}
.section-eight .testimonials {
    color: rgba(0, 0, 0, 0.644);
    font-weight: bold;
}
.section-eight img {
    width: 40%;
    clip-path: circle();
}
.client-feedbacks {
    padding: 5% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.client-feedbacks-child {
    padding: 10% 3%;
    margin: 5% 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.055);
    cursor: pointer;
}
 .client-feedbacks-child:hover {
    transition: 0.5s;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.295);
    animation: trial 2s  alternate;
}
@keyframes trial {
    40% {
    transform: rotateY(50deg);

    }
    70% {
    transform: rotateY(0deg);

    }
}


/* SECTION 9 */
.section-nine {
    text-align: center;
    background:rgba(0, 0, 0, 0.438) url(images/christian-lambert-ycyXpdhCnp8-unsplash\ \(1\).jpg)
    repeat fixed 100%;
    padding: 30% 3%;
    background-size: cover;
    background-blend-mode: darken;
}
.section-nine h1 {
    color: white;
}
.section-nine p {
    color: rgb(0, 93, 105);
    font-weight: bold;
    padding-bottom: 5%;
}

.section-nine button {
    margin: 10% 0 0 0;
    padding: 5% 8%;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    margin: 10% 2%;
}

.section-9-btn-one {
    background-color: rgb(0, 93, 105);
    border: 2px solid rgb(0, 93, 105);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 30px 2px rgba(0, 93, 105, 0.438);

}
.section-9-btn-one:hover {
    background-color: transparent;
    transition-property: background-color;
    border: 2px solid rgba(255, 255, 255, 0.267);
    transition: 1s;
    color: white;
}
.section-9-btn-two:hover {
    background-color: rgb(0, 93, 105);
    transition-property: background-color;
    transition: 1s;
    border: 2px solid rgb(0, 93, 105);
    color: white;
    box-shadow: 0 0 30px 2px rgba(0, 93, 105, 0.438);
}
.section-9-btn-two {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.267);
    color: white;

}

/* SECTION 10 */
.section-u10  {
    padding: 15% 3% 0 3%;
}
.section-u10 p {
    padding: 3% 0;
    color: rgba(0, 0, 0, 0.644);
    font-weight: bold;
}
.section-u10 h1 {
    font-weight: 500;
}
.section-ten {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 10% 5%;
    text-align: left;
    align-items: center;
}
.date-admin {
    font-weight: 600;
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
}
.section-ten p, .section-ten h4 {
    margin: 0 8%;
}
.section-ten h4 {
    font-weight: 400;
    font-size: 1.2rem;
}
.section-ten p {
    color: rgba(0, 0, 0, 0.589);
}
.slide2 {
    padding: 0;
    display: grid;
    place-items: center;
}
.slider-two {
    margin: 5% 0;
    background-color: white;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.055);
}
.slider-two > p {
    padding: 7% 0;
}
.slide2 img {
    width: 100%;
    height: 200px;
} 
footer {
    padding-bottom: 20%;
}
footer .footer-logo {
    background-color: white;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.055);
    text-align: center;
    padding: 20% 3% 10% 3%;
}
footer img {
    width: 50%;
}
footer p {
    padding-top: 10%;
    color: rgba(0, 0, 0, 0.644);
}
footer form {
    margin: 0 3%;
}
.email-suscribe {
    display: grid;
}
footer input[type = email] {
    border: none;
    background-color: rgba(204, 203, 203, 0.137);
    width: 100%;
    padding: 5% 3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    letter-spacing: 2px;
    color: rgb(63, 63, 63);
}

footer input[type = submit] {
    text-align: center;
    width: 100%;
    background-color: rgb(0, 93, 105);
    border: 2px solid rgb(0, 93, 105);
    box-shadow: 0 0 30px 2px rgba(0, 93, 105, 0.438);
    color: rgb(255, 255, 255);
    padding: 5% 10%;
    letter-spacing: 2px;
    cursor: pointer;
}
footer input[type = submit]:hover {
    box-shadow: 0 0 30px 2px rgba(247, 127, 14, 0.61);
    background-color: rgb(247, 126, 14);
    border: 2px solid  rgb(247, 126, 14);
    transition: 1s;
}
.footer-section {
    background-color: rgb(247, 126, 14);
    padding: 5% 0;
}
.footer-section div {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: white;
}
.media i {
    background-color: black;
    padding: 3% 4%;
    margin: 0 1%;
    cursor: pointer;
}
.footer-section p {
    text-align: center;
    color: white;
    padding-top: 5%;
    font-size: 0.7rem;
    font-weight: 700;
}
.footer-section a {
    color: white;
    font-size: 0.7rem;
}
.footer-section a:hover {
    color: rgb(23, 90, 52);
    font-size: 1rem;
    text-decoration: none;
}

/* SCREN SIZE OF 700PX ABOVE */
@media (min-width: 700px) {
     p {
     font-size: 0.8rem;
    }
.slide img {
    width: 100%;
    height: 500px;
}
.main-img img {
    display: block;
    width: 100%;
}
.main-img {
    padding-right: 5%;
}
.text {
    display: grid;
    grid-template-columns: auto auto;
}
.section-two {
    margin: 10% 3%;
}
.section-two form {
    display: grid;
    grid-template-columns: auto  auto;
    gap: 5%;
}
.sub-section-four {
    gap: 5%;
    margin: 2% 0;
    grid-template-columns: auto auto auto auto auto;
    }

    .sub-section-four div {
    padding: 30% 0;
    }
    .sub-section-four div:hover {
        color: white;
    }
    .sub-section-four i {
        color: rgb(0, 93, 105);
        font-size: 4rem;
    }
    .sub-section-four i:hover {
        color: white;
    }
    
    .sub-section-four div p {
        font-size: 0.6rem;
        padding-top: 20%;
    }

    .sub-section-four div:last-child {
        transform: translateY(-20%);
    }
    .sub-section-four div:nth-child(4) {
        transform: translateY(10%);
    }
    .sub-section-four div:nth-child(3) {
        transform: translateY(50%);
    }
    .sub-section-four div:nth-child(3):hover,.sub-section-four div:nth-child(4):hover, .sub-section-four div:last-child:hover {
    transform: translateY(-2%);
    }
    .globe {
        display: grid;
        gap: 15%;
        grid-template-columns: auto auto;
    }
    .globe i {
        padding: 50%;
    }
    .section-seven img {
        height: 500px;
    }
    .client-feedbacks {
        display: grid;
        grid-template-columns: auto auto;
        gap: 5%;
    }
    .section-ten {
        display: grid;
        grid-template-columns: auto auto;
        gap: 5%;
    }
    footer .footer-logo {
        padding: 10% 3%;
    }
    .email-suscribe {
        grid-template-columns: auto auto;
        position: relative;
    }
    footer input[type = email] {
        width: 92vw;
        padding: 5% 5%;
    }
    footer input[type = submit] {
        top: 16%;
        left: 70%;
        padding: 3% 5%;
        width: 25%;
        position: absolute;
    }
    .footer-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .media i {
        background-color: black;
        padding: 8% 15%;
        margin: 0 10%;
        font-size: 1.2rem;
    }
    .copyright {
        order: -1;
    }
    .copyright p {
        font-size: 1rem;
    }
    .copyright a {
        font-size: 1rem;
    }





}


/* DESKTOP VERSION */
@media (min-width: 1000px)  {
    html {
        padding: 0;
        margin: 0;
    }
    p {
        font-size: 1.2rem;
    }
    header .nav-bars, .quick-info {
        display: inline-block;
    }
    header .logo{
        padding: 0 20%;
    }
    header {
        display: flex;
        color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: 0 3px 7px rgba(0 0 0 / 10%);
    position: fixed;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
    padding: 1% 0;
    align-items: center;

    }
    .nav-bars ul {
        display: flex;
        list-style-type: none;
        padding-left: 20%;
    }
    .nav-bars ul li a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        color: rgb(247, 126, 14);
        cursor: pointer;
    }
    .nav-bars ul li {
        padding: 0 10%;

    }
    .quick-info {
        display: flex;
        padding: 0 2%;
    }
    .quick-info .address, .quick-info .number {
        font-size: 1rem;
        font-weight: 600;
        color: gray;
    }
    .quick-info p {
        padding: 0 5%;
        font-size: 0.8rem;
    }
    .section-one p {
        font-size: 0.8rem;
    }
    .text {
        display: grid;
        padding-top: 15%;
        justify-content: center;
        grid-template-columns: auto auto auto;
        gap: 10%;
        padding-left: 8%;
        padding-right: 8%;
        align-items: center;
    }
    .text h1 {
        font-size: 4.5rem;
        line-height: 65px;
    
    }
    .text p {
        font-size: 1.5rem;
    }
    .main-img img {
        display: block;
        width: 150%;
    }
    .main-img {
        padding-right: 10%;
    }
    .main-btn {
        display: flex;
    }
    .section-one button {
        font-size: 1rem;
        margin: 10% 1% 0 1%;
        padding: 4% 10%;
    }
    .slide img {
        height: 600px;
    }
    .navigation-auto {
        display: flex;
    }
    aside {
        margin-top: 10%;
    }
    .section-two {
        margin: 0 10%;
        transform: translateY(-12%);
    }
    .section-two form {
        padding: 3% 3%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 5%;
    }
    .section-two [type = datetime-local] { 
        padding: 0 7% 5% 7%;
    }
    .section-two [type = submit] {
        margin: 0;
        padding: 0 1%;
    }
    .section-three {
        display: none;
        padding: 3% 8%;
    }
    #list {
        /* padding: 0; */
        padding: 0 7% 9% 7%;
    }
    label {
        padding: 5% 0;
    }
    .section-four {
        margin: 0 10%;
    }
    .section-four h1 {
        font-size: 5rem;
        padding: 5% 0 0 1% 0;
    }
    .sub-section-four div p {
        font-size: 1rem;
    }
    .slider-effect {
        display: flex;
        padding: 0 10%;
        justify-content: space-between;
    }
    .section-five p {
        text-align: left;
    }
    .section-five {
        margin: 0;
    }
    .section-five h1 {
        font-size: 5rem;
        text-align: left;
        padding: 3% 0 10% 0;
    }
    .btn-section-five {
        margin: 0 10%;
    }
    .btn-section-five button {
        margin: 0 10%;
    }
    .btn-section-five button:hover {
        padding: 0 2%;
        margin: 0;
    }
    .section-six {
        padding: 0;
        margin: 0 10%;
    }
    .sub-section-six {
        grid-column: 1 ;
        grid-row: 1;
    }
    .grid-item {
        grid-column: 3 ;
        margin: 10% 5% 10% 0;
    }
    .globe {
        display: flex;
        gap: 20%;
    }
    .globe i {
    font-size: 2rem;
     background-color: white;
    box-shadow: 0 3px 7px rgba(0 0 0 / 10%);
    padding: 60%;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(0, 93, 105);
    margin: 0;
    }
    .globe i:hover {
        background-color: rgb(0, 93, 105);
        color: white;
        transition-property: background-color;
        transition: 1s;
    }

    .sub-section-six {
        padding: 0 0 0 5%;
        margin: 10% 0;
    }
    .sub-section-six h1 {
        font-size: 5rem;
    }
    .sub-text {
        font-size: 1.2rem;
    }
    hr {
        margin: 2% 12%;
    }

    .section-seven {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 5% 10%;
    gap: 10%;
    }
    .section-seven img {
        width: 100%;
    }
    .section-seven h1 {
        font-size: 3rem;
    }
    .section-seven p {
        font-size: 1.2rem;
    }
    .section-eight {
        padding: 10% 0;
    }
    .section-eight p {
        font-size: 1rem;
        font-weight: bold;
        color: gray;
    }
    .section-eight h1 {
        font-size: 5rem;
        font-weight: 500;
        padding: 2% 0;
    }
    .client-feedbacks{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2%;
        margin: 0 5%;
        padding: 5% 5%;
    }
    .client-feedbacks-child {
    cursor: pointer;
    box-shadow: 0 3px 7px rgba(0 0 0 / 10%);
    }

    .client-feedbacks-child h3 {
        font-size: 1.5rem;
    }
    .client-feedbacks-child article{
        font-size: 1rem;
        font-weight: bold;
        padding: 5% 0;
    }
    .client-feedbacks-child p {
        font-size: 1.2rem;
        font-weight: 500;
    }
    .section-nine {
        padding: 0 10%;
    }
    .section-nine div {
        padding: 10% 0;
    }
    .section-nine p {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .section-nine h1 {
        font-size: 5rem;
        font-weight: 500;
        line-height: 70px;
    }
    .section-nine button {
        font-size: 1rem;
        margin: 5% 1% 0 1%;
        padding: 2% 5%;
    }
    .section-ten {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2%;
    }
    .section-u10 h1 {
        font-size: 5rem;
    }
    .slide2 img {
        width: 100%;
        height: 300px;
    } 
    .slider-two > p {
        padding: 3% 0;
    }
    footer p {
        font-size: 1.8rem;
        padding: 5% 20% 5% 20%;
    }
    footer input[type = email] {
        width: 93vw;
        font-size: 1.2rem;
        color: rgb(23, 90, 52);
    }
    footer input[type = email]::placeholder {
        color: rgb(23, 90, 52);
    }

    

}